@import './assets/styles/vars';
@import './assets/styles/general';
@import 'react-redux-toastr/src/styles/index';
@import './components/task-list/task/task';
@import './components/login/login';
@import './components/task-list/task-filter/task-filter';
@import './components/task-list/task-list';
@import './components/task-list/add-edit-task/add-edit-form';
@import './components/task-list/task-details/task-details';
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#root {
  min-height: 100vh;
  position: relative;
  background-color: $theme-background;
}
* {
  color: $theme-primary;
}
header {
  height: 30px;
  display: flex;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: $theme-primary;
  padding: 20px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
